Android Open Source Project
baloofileinformationrc
BraveSoftware
Code
crossnote
dconf
dolphinrc
go
kdeconnect
kde.org
kwalletrc
mimeapps.list
pulse
QtProject
session
yay
Mousepad
nemo
rclone
Google
.android
nextjs-nodejs
libreoffice
user-dirs.dirs
user-dirs.locale
nwg-look
mozilla/firefox/Crash Reports/crash_helper_server.log
vlc
obsidian
celluloid
guvcview2
gtk-4.0/assets
