baloofileinformationrc
BraveSoftware
Code
crossnote
dconf
dolphinrc
go
htop
kdeconnect
kde.org
kwalletrc
mimeapps.list
pulse
QtProject
session
yay
Mousepad
nemo
btop
rclone
Google
.android
nextjs-nodejs
libreoffice
user-dirs.dirs
user-dirs.locale
gtk-2.0
gtk-3.0
gtk-4.0
qt5ct
qt6ct
nwg-look