baloofileinformationrc
BraveSoftware
Code
crossnote
dconf
dolphinrc
go
gtk-3.0
htop
kdeconnect
kde.org
kwalletrc
mimeapps.list
pulse
QtProject
session
yay
Mousepad
nemo
btop
rclone
Google
.android
nextjs-nodejs